<h1 id="цели-и-задачи">Цели и задачи</h1>
<h2 id="цель-работы">Цель работы</h2>
<p>Рассмотреть некоторые простейшие модели боевых действий – модели
Ланчестера. Построить графики для двух из трёх рассмотренных
моделей.</p>
<h2 id="задание">Задание</h2>
<p>Между страной Х и страной У идет война. Численность состава войск
исчисляется от начала войны, и являются временными функциями x(t) и
y(t). В начальный момент времени страна Х имеет армию численностью 22
022 человек, а в распоряжении страны У армия численностью в 33 033
человек. Для упрощения модели считаем, что коэффициенты a, b, c, h
постоянны. Также считаем P(t) и Q(t) непрерывные функции. Постройте
графики изменения численности войск армии Х и армии У для следующих
случаев: 1. Модель боевых действий между регулярными войсками</p>
<p><span class="math inline">$\displaystyle \frac{dx}{dt} = -0,401x(t) -
0,707y(t) + sin(8t)$</span> <span class="math inline">$\displaystyle
\frac{dy}{dt} = -0,606x(t) - 0,502y(t) + cos(6t)$</span></p>
<ol start="2" type="1">
<li>Модель ведение боевых действий с участием регулярных войск и
партизанских отрядов</li>
</ol>
<p><span class="math inline">$\displaystyle \frac{dx}{dt} = -0,343x(t) -
0,895y(t) + 2sin(2t)$</span> <span class="math inline">$\displaystyle
\frac{dy}{dt} = -0,699x(t)y(t) - 0,433y(t) + 2cos(t)$</span></p>
<h1 id="создание-графика-для-первой-модели">Создание графика для первой
модели:</h1>
<p>Используя язык julia создала код для решения данных дифференциальных
уравнений и построения графика: using Plots using DifferentialEquations
a, b, c, h = 0.401, 0.707, 0.606, 0.502 dt = 0.05 v0 = [22022, 33033]
function P(t) sin(8<em>t) end function Q(t) cos(6</em>t) end</p>
<p>function equations(du, u, p, t) du[1] = - a<em>u[1] - b</em>u[2] +
P(t) du[2] = - c<em>u[1] - h</em>u[2] + Q(t) return du end</p>
<p>prob_sde = ODEProblem(equations, v0, (0.0, 1.0)) sol =
solve(prob_sde, dt=dt) plot(sol, xlabel=“Шаг”, ylabel=“Численность
армии”)</p>
<h1 id="создание-графика-для-второй-модели">Создание графика для второй
модели:</h1>
<p>В коде поменяла входные значения и дифференциальные уравнения, чтобы
код подходил для второго задания: a, b, c, h = 0.343, 0.895, 0.699,
0.433 dt = 0.05 v0 = [22022, 33033] function P(t) 2<em>sin(2</em>t) end
function Q(t) 2*cos(t) end</p>
<p>function equations(du, u, p, t) du[1] = - a<em>u[1] - b</em>u[2] +
P(t) du[2] = - c<em>u[1]</em>u[2] - h*u[2] + Q(t) println(u) end</p>
<h1 id="результаты.-полученные-графики">Результаты. Полученные
графики</h1>
<p><img src="image/image/Screenshot(1245).png" id="fig:001"
style="width:50.0%"
alt="График изменения численности войск для модели боевых действий между регулярными войсками" />
<img src="image/image/Screenshot(1244).png" id="fig:002"
style="width:50.0%"
alt="График изменения численности войск для модели боевых действий с участием регулярных войск и партизанских отрядов" /></p>
<h1 id="выводы">Выводы</h1>
<p>Научилась строить простейшие модели боевых действий.</p>
